<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lia.system.modules.dictData.SysDictDataMapper">

    <resultMap type="SysDictData" id="SysDictDataResult">
        <id     property="dataId"      column="data_id"      />
        <id     property="value"      column="value"      />
        <id     property="label"      column="label"      />
        <id     property="typeId"      column="type_id"      />
        <id     property="createBy"      column="create_by"      />
        <id     property="createTime"      column="create_time"      />
        <id     property="remark"      column="remark"      />
    </resultMap>


    <select id="findSysDictData" parameterType="SysDictData" resultMap="SysDictDataResult">
        select * from sys_dict_data
        <where>
            <if test="dataId != null">
                AND `data_id` = #{dataId}
            </if>
            <if test="value != null">
                AND `value` = #{value}
            </if>
            <if test="label != null">
                AND `label` = #{label}
            </if>
            <if test="typeId != null">
                AND `type_id` = #{typeId}
            </if>
            <if test="createBy != null">
                AND `create_by` = #{createBy}
            </if>
            <if test="createTime != null">
                AND create_time between substring_index(#{createTime},',',1) and substring_index(#{createTime},',',-1)
            </if>
            <if test="remark != null">
                AND remark like concat('%',#{remark},'%')
            </if>
        </where>
    </select>


    <insert id="addSysDictData" parameterType="SysDictData">
        insert  into sys_dict_data
        (`value`,`label`,`type_id`,`create_by`,`create_time`,`remark`) values (
            #{value},
            #{label},
            #{typeId},
            #{createBy},
            current_timestamp(),
            #{remark})
    </insert>


    <update id="editSysDictData" parameterType="SysDictData">
        update sys_dict_data set
        `value` = #{value},
        `label` = #{label},
        `type_id` = #{typeId},
        `remark` = #{remark}
        where `data_id` = #{dataId}
    </update>

    <delete id="deleteSysDictDatas" parameterType="List">
        delete from sys_dict_data where data_id in
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <foreach collection="sysDictDataIds" index="index" item="item">
                #{item},
            </foreach>
        </trim>
    </delete>

    <select id="getDictByKey" resultMap="SysDictDataResult">
        select * from sys_dict_data where type_id = (select type_id from sys_dict_type where `key` = #{key})
    </select>

</mapper>
