<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lia.system.modules.dictType.SysDictTypeMapper">

    <resultMap type="SysDictType" id="SysDictTypeResult">
        <id     property="typeId"      column="type_id"      />
        <id     property="name"      column="name"      />
        <id     property="createBy"      column="create_by"      />
        <id     property="createTime"      column="create_time"      />
        <id     property="remark"      column="remark"      />
    </resultMap>


    <select id="findSysDictType" parameterType="SysDictType" resultMap="SysDictTypeResult">
        select * from sys_dict_type
        <where>
            <if test="typeId != null">
                AND `type_id` = #{typeId}
            </if>
            <if test="name != null">
                AND `name` = #{name}
            </if>
            <if test="key != null">
                AND `key` = #{key}
            </if>
            <if test="createBy != null">
                AND `create_by` = #{createBy}
            </if>
            <if test="createTime != null">
                AND create_time between substring_index(#{createTime},',',1) and substring_index(#{createTime},',',-1)
            </if>
            <if test="remark != null">
                AND remark like concat('%',#{remark},'%')
            </if>
        </where>
        order by type_id desc
    </select>


    <insert id="addSysDictType" parameterType="SysDictType">
        insert  into sys_dict_type
        (`name`,`key`, `create_by`,`remark`) values (
            #{name},
            #{key},
            #{createBy},
            #{remark})
    </insert>


    <update id="editSysDictType" parameterType="SysDictType">
        update sys_dict_type set
        `name` = #{name},
        `remark` = #{remark}
        where `type_id` = #{typeId}
    </update>

    <delete id="deleteSysDictTypes" parameterType="List">
        delete from sys_dict_type where type_id in
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <foreach collection="sysDictTypeIds" index="index" item="item">
                #{item},
            </foreach>
        </trim>
    </delete>

</mapper>
