<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lia.system.modules.file.SysFileMapper">

    <resultMap id="SysFileResult" type="SysFile">
        <id     property="fileId"      column="file_id"      />
        <result property="uploadTime"    column="upload_time"    />
        <result property="uploadUser"    column="upload_user"    />
    </resultMap>

    <insert id="addSysFile" parameterType="SysFile" useGeneratedKeys="true" keyProperty="fileId" keyColumn="file_id">
        insert into sys_file (name,path,size,upload_user)
        values (
            #{name},
            #{path},
            #{size},
            #{uploadUser}
        )
    </insert>

    <select id="findSysFile" parameterType="SysFile" resultMap="SysFileResult">
        select * from sys_file
        <where>
            <if test="fileId != null">
                AND file_id = #{fileId}
            </if>
            <if test="name != null">
                AND name = #{name}
            </if>
            <if test="path != null">
                AND path = #{path}
            </if>
            <if test="size != null">
                AND size = #{size}
            </if>
            <if test="uploadTime != null">
                AND upload_time = #{uploadTime}
            </if>
            <if test="uploadUser != null">
                AND upload_user = #{uploadUser}
            </if>
        </where>
    </select>

    <select id="findSysFileByIds" parameterType="ArrayList" resultMap="SysFileResult">
        select * from sys_file
        where file_id in
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <foreach collection="fileIds" item="item">
                #{item},
            </foreach>
        </trim>
    </select>


    <delete id="deleteFiles" parameterType="ArrayList">
        delete from sys_file where file_id in
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <foreach collection="fileIds" index="index" item="item">
                #{item},
            </foreach>
        </trim>
    </delete>

</mapper>