<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lia.system.modules.notice.SysNoticeMapper">

    <resultMap type="SysNotice" id="SysNoticeResult">
        <id     property="id"      column="id"      />
        <id     property="title"      column="title"      />
        <id     property="content"      column="content"      />
        <id     property="topFlag"      column="top_flag"      />
        <id     property="level"      column="level"      />
        <id     property="delFlag"      column="del_flag"      />
        <id     property="creater"      column="creater"      />
        <id     property="createTime"      column="create_time"      />
        <id     property="updateTime"      column="update_time"      />
    </resultMap>


    <select id="getNoticePage" resultMap="SysNoticeResult">
        select * from sys_notice where id in (
            select notice_id from sys_notice_role where role_id = #{roleId}
            ) order by top_flag desc, create_time desc
    </select>


    <insert id="publishToRole">
        insert into sys_notice_role (notice_id, role_id) values
        <trim suffixOverrides=",">
            <foreach collection="roleIds" item="item">
                (#{noticeId}, #{item}),
            </foreach>
        </trim>
    </insert>

    <insert id="uploadNoticeFile">
        insert into sys_notice_file (notice_id, file_id) values
        <trim suffixOverrides=",">
            <foreach collection="fileIds" item="item">
                (#{noticeId}, #{item}),
            </foreach>
        </trim>
    </insert>


    <select id="getFilesOfNotice" resultType="SysFile">
        select * from sys_file where file_id in (
            select file_id from sys_notice_file where notice_id = #{noticeId}
            )
    </select>

</mapper>