<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lia.system.modules.router.SysRouterMapper">

    <resultMap type="SysRouter" id="SysRouterResult">
        <id     property="routerId"      column="router_id"      />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>


    <select id="findSysRouter" parameterType="SysRouter" resultMap="SysRouterResult">
        select * from sys_router
        <where>
            <if test="routerId != null">
                AND router_id = #{routerId}
            </if>
            <if test="label != null">
                AND label = #{label}
            </if>
            <if test="path != null">
                AND path = #{path}
            </if>
            <if test="element != null">
                AND element = #{element}
            </if>
            <if test="parent != null">
                AND parent = #{parent}
            </if>
            <if test="icon != null">
                AND icon = #{icon}
            </if>
            <if test="index != null">
                AND `index` = #{index}
            </if>
            <if test="createBy != null">
                AND create_by = #{createBy}
            </if>
            <if test="createTime != null">
                AND create_time = #{createTime}
            </if>
            <if test="remark != null">
                AND remark like concat('%',#{remark},'%')
            </if>
        </where>
        ORDER BY `index` asc
    </select>

    <select id="findRouterByRoleId" parameterType="Integer" resultMap="SysRouterResult">
        select * from sys_router
        <where>
            router_id in (
            select router_id from sys_role_router where role_id = #{roleId}
            )
        </where>
        ORDER BY `index` asc
    </select>

    <select id="findIdsbyRoleId" parameterType="Integer" resultType="Integer">
        select router_id from sys_role_router
        where role_id = #{roleId}
    </select>



    <insert id="addSysRouter" parameterType="SysRouter">
        insert  into sys_router
        (label,path,element,parent,`index`,icon,create_by,create_time,remark)
        values
        <trim prefix="(" suffix=")" suffixOverrides="," >
            #{label},
            #{path},
            #{element},
            <if test="parent != null">
                #{parent},
            </if>
            <if test="parent == null">
                0,
            </if>
            #{index},
            #{icon},
            #{createBy},
            current_timestamp(),
            #{remark},
        </trim>
    </insert>


    <update id="editSysRouter" parameterType="SysRouter">
        update sys_router set
        label = #{label},
        path = #{path},
        element = #{element},
        parent = #{parent},
        `index` = #{index},
        icon = #{icon},
        remark = #{remark}
        where router_id = #{routerId}
    </update>

    <delete id="deleteRouters" parameterType="List">
        delete from sys_router where router_id in
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <foreach collection="routerIds" index="index" item="item">
                #{item},
            </foreach>
        </trim>
    </delete>

</mapper>