<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lia.system.modules.code.SysToolCodeMapper">

    <resultMap type="SysToolCode" id="SysToolCodeResult">
        <id     property="codeId"      column="code_id"      />
        <id     property="columns"      column="columns"      />
        <id     property="tableName"      column="table_name"      />
        <id     property="module"      column="module"      />
        <id     property="primaryKey"      column="primary_key"      />
        <id     property="httpUrl"      column="http_url"      />
        <id     property="createByFlag"      column="create_by_flag"      />
        <id     property="createTimeFlag"      column="create_time_flag"      />
        <id     property="updateTimeFlag"      column="update_time_flag"      />
        <id     property="remarkFlag"      column="remark_flag"      />
        <id     property="createBy"      column="create_by"      />
        <id     property="createTime"      column="create_time"      />
    </resultMap>


    <select id="findSysToolCode" parameterType="SysToolCode" resultMap="SysToolCodeResult">
        select * from sys_tool_code
        <where>
            <if test="codeId != null">
                AND `code_id` = #{codeId}
            </if>
            <if test="columns != null">
                AND `columns` = #{columns}
            </if>
            <if test="module != null">
                AND `module` = #{module}
            </if>
            <if test="tableName != null">
                AND `table_name` = #{tableName}
            </if>
            <if test="primaryKey != null">
                AND `primary_key` = #{primaryKey}
            </if>
            <if test="httpUrl != null">
                AND `http_url` = #{httpUrl}
            </if>
            <if test="createTimeFlag != null">
                AND `create_time_flag` = #{createTimeFlag}
            </if>
            <if test="createByFlag != null">
                AND `create_by_flag` = #{createByFlag}
            </if>
            <if test="updateTimeFlag != null">
                AND `update_time_flag` = #{updateTimeFlag}
            </if>
            <if test="remarkFlag != null">
                AND `remark_flag` = #{remarkFlag}
            </if>
            <if test="createBy != null">
                AND `create_by` = #{createBy}
            </if>
            <if test="createTime != null">
                AND create_time between substring_index(#{createTime},',',1) and substring_index(#{createTime},',',-1)
            </if>
        </where>
        order by code_id desc
    </select>


    <insert id="addSysToolCode" parameterType="SysToolCode">
        insert into sys_tool_code (
            `columns`,
            `module`,
            `table_name`,
            `primary_key`,
            `http_url`,
            `create_time_flag`,
            `update_time_flag`,
            `create_by_flag`,
            `remark_flag`,
            `create_by`
        )
        values (
            #{columns},
            #{module},
            #{tableName},
            #{primaryKey},
            #{httpUrl},
            #{createTimeFlag},
            #{updateTimeFlag},
            #{createByFlag},
            #{remarkFlag},
            #{createBy}
        )
    </insert>


    <update id="editSysToolCode" parameterType="SysToolCode">
        update sys_tool_code set
        `columns` = #{columns},
        `module` = #{module},
        `table_name` = #{tableName},
        `primary_key` = #{primaryKey},
        `http_url` = #{httpUrl},
        `create_time_flag` = #{createTimeFlag},
        `update_time_flag` = #{updateTimeFlag},
        `create_by_flag` = #{createByFlag},
        `remark_flag` = #{remarkFlag}
        where `code_id` = #{codeId}
    </update>

    <delete id="deleteSysToolCodes" parameterType="List">
        delete from sys_tool_code where code_id in
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <foreach collection="sysToolCodeIds" index="index" item="item">
                #{item},
            </foreach>
        </trim>
    </delete>

</mapper>
